rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permite que qualquer usuário autenticado (incluindo anônimos) leia e envie arquivos
    // na pasta de relatórios de erro e suas subpastas.
    match /error_reports/{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
